 #map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}
 .map-container{
  position: relative;
  padding: 0;
}

 html, body, .height{
  height: 100%;
 }

.menu-ui {
  background:#fff;
  position:absolute;
  top:20px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:3px solid #0D8C7F;
  margin-right:25px;
  font-weight: bold;
}
.menu-ui a {
  font-size:16px;
  color:#063559;
  display:block;
  margin:0;padding:0;
  padding:3px;
  text-decoration:none;
  border-bottom:3px solid #0D8C7F;
  text-align:center;
  font-weight: bold;
}
.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
  background:#F2D13E;
  color:#063559;
}
.menu-ui a.active,
.menu-ui a.active:hover {
  background:#F2D13E;
  color:#063559;
}
.navbar-inverse {
  background-color: #0D8C7F;
  color: white;
  font-size:14px;
  padding:0; 
  border-color:#0D8C7F;
  margin:0;
  border-radius:0;

}
#right {
  color: #063559;
  background-color: white;
  padding:0

}


#LGBTMD {
  color:white;
  font-size:36px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 900; 


}

.navbar-inverse .navbar-nav>li>a{
  color:white;
  font-size:20px;
  border-color:white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700; 
}

.navbar-brand{
  height:30px;
  padding:0;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  background-color: #0B756A;
  border-color: #0B756A;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
background-color: #0B756A;
  border-color: #0B756A;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color: #0D8C7F;
  
}

.btn-primary{
  background-color: #0D8C7F;
  border-color: #0D8C7F;

}
#radiustext{
  width:90px;
}

#address{
  width:100px;
}

.field{
  width:300px;
}

body{
  margin:0;
  font-size:16px;
  font-family: 'Maven Pro', sans-serif;
}

.center{
  text-align:center;
}

.well{
  margin-right:20px;
  font-weight:normal;
}

.btn-primary:hover {
  background-color: #0B756A;
  border-color: #0B756A; 
}

.btn-default{
  background-color: #0D8C7F;
  border-color: #0D8C7F;
  color:white;
}

.btn-default:hover {
  background-color: #0B756A;
  border-color: #0B756A;
  color:white;
}

.bg-sd{
  background: #FFFFFC;
  height: 100%;
}

.row{
 margin-right:0;
}

.left{
  padding-right:0;
}

.h1, .h2, .h3, h1, h2, h3{
margin-top: 15px;
margin-bottom: 15px
}

.btn{
font-size: 16px;
font-weight: 700; 
}

.form-control{
  font-size: 16px;
}

.navbar-collapse{
  padding-left: 0;
}

.regular{
  font-weight:400;
}

#why{
  text-align: center;
}

.alignl{
  text-align: left;
}

.btn-default :visited{
  background-color: yellow;
}
#myModal{
  text-align: left;
}

@media (max-width: 768px){
  .height{
    height: 80%;
  }
  .bg-sd{
    height: auto;
  }
  .form-control{
      display: inline;
  }
}
