.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:2px solid #0D8C7F;
  }
.menu-ui a {
  font-size:14px;
  color:#063559;
  display:block;
  margin:0;padding:0;
  padding:3px;
  text-decoration:none;
  border-bottom:2px solid #0D8C7F;
  text-align:center;
  }
.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
  }
.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
  }
.menu-ui a:hover {
  background:#F2D13E;
  color:#063559;
  }
.menu-ui a.active,
.menu-ui a.active:hover {
  background:#F2D13E;
  color:#063559;
  }
.navbar-inverse {
    background-color: #0D8C7F;
    color: white;
    font-size:14px;
    padding:0; 
    
}
#right {
    color: #063559;
    background-color: white;
    padding:0;

}


.navbar-inverse .navbar-brand{
  color:white;
  font-size:22px;
  text-align: center;
  padding-left: 15px;

}

.navbar-inverse .navbar-nav>li>a{
  color:white;
  font-size:16px;
  border-color:white;
}

.navbar-brand{
  height:30px;
  padding:0;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color: #0D8C7F;
}

