{% extends 'base.html' %}
{% block body %}


<form style="display: inline-block;" action="/adddoc" id="doc_form" method="POST">
    <h4>add doctor to the database</h4>
        <input id="doc_name" type="text" name="doc_name" placeholder="doctor name" required autofocus/>
        <select name="cert">
              <option value="MD">MD (Medical Doctor)</option>
              <option value="NP">NP (Nurse Practitioner)</option>
              <option value="RN">RN (Registered Nurse)</option>
              <option value="DDS">DDS (Dentist)</option>
              <option value="OD">OD (Doctor of Optometry</option>
              <option value="DC">DC (Chiropractor)</option>
              <option value="MFT">MFT (Masters of Family Therapy)</option>
              <option value="LCSW">LCSW (Licensed Social Worker)</option>
              <option value="DO">DO (Doctor of Osteopathy)</option>
              <option value="PA">PA (Physicians Assistant)</option>
              <option value="PSYD">Psy.D (Dr. of Psychology)</option>
              <option value="PHD">PhD (Doctor of Philosophy)</option>
              <option value="CM">CM (Certified Midwife)</option>
        </select>
        <input id="biz_name" type="text" name="biz_name" placeholder="business name" required autofocus/>
        <input id="address" type="text" name="address" placeholder="address w/out suite" required autofocus/>
        <input id="suite" type="text" name="suite_number" placeholder="suite number" />
        <input id="phone" type="text" name="phone" placeholder="Phone number" required autofocus/>
        Would you like your recommendaiton to be anonymous?<select name="anon">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        Gender: <select name="gender">
            <option value="F">Female</option>
            <option value="T">Transgender</option>
            <option value="M">Male</option>
            <option name="ODELT">Other Gender</option>
        </select>
        Transgender Health Specialty:<select name="trans_health">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        Women's Health Specialty:<select name="womens_health">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        Public Insurance:<select name="pub_ins">
            <option value="pub_yes">Yes</option>
            <option value="pub_no">No</option>
        </select>
      
        <input id="docsubmit" type="submit" name="submit" value="add">
</form>

{% endblock %}