<!DOCTYPE html>
<html>
<head>

  <meta charset=utf-8 />
  <title>LGBT MD</title>
  <link rel='stylesheet' href='/static/bootstrap/css/bootstrap.min.css'>


  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/static/mycss.css">

  <style>
    #map {height:900px; width:100%; margin:0;}

  </style>



</head>

<body> 

  <nav class="navbar navbar-inverse">
    <div class="container-fluid" id= "#nav">
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav">
         <li><a id="LGBTMD" href="/">LGBT MD <h4>(demo version)</h4> </a></li>
         <li>{% if session['logged_in'] == True %} <a href="#">Welcome, {{session['user_name']}}</a>{% endif %}</li>
       </ul>


       <ul class="nav navbar-nav navbar-right">

        <li><a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a></li>
        <li>{% if session['logged_in'] == True %}<a href="#" data-toggle="modal" data-target="#myModal">Add a doctor</a>{% endif %}</li>
        <li>{% if session['logged_in'] != True %}<a href="/login"> Login with Facebook</a>{% endif %}

          {% if session['logged_in'] == True %}<a href="/logout"> Logout </a>{% endif %}</li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid" id="right">

    <div class="row">
      <div class="col-xs-12 col-md-7 left" >
        <div id='map'></div>
        <meta id="data" data-obj="{{coordinates}}">

        <nav id='menu-ui' class='menu-ui'>
          <a href='#' class='active' id='filter-all'>All Providers</a>
          <a href='#' id='filter-therapy'>Mental Health </a>
          <a href='#' id='filter-ins'>Public Insurance</a>
          <a href='#' id='filter-trans'>Trans Friendly </a>
        </nav>
      </div>

      <div class="col-xs-6 col-md-5" > <div class="background">

        <h3 class="center"><br><b>Everyone deserves a trustworthy doctor. <br>Find yours.<b></h3><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <ul class="flashes">
          <li>{{message}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}



        <form class="form-inline center"> 
          <div class="form-group" action="/addoc" method="post">
            <label for="radiustext">Radius: </label>
            <input id="radiustext" class="form-control" type="number" name="radius" placeholder="miles" required autofocus/>
          </div>
          <div class="form-group">
            <label for="address">  Zip: </label>
            <input id="address" class="form-control" type="text" name="address" placeholder="Zip Code" required autofocus/>
          </div>
          <input id="radiussubmit" class="btn btn-primary " type="submit" name="submit" value="Find"/></form><br><div id="why"><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Why LGBT MD?</a><div>
          




          <!-- Button trigger modal -->

          <div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add a doctor to LGBT MD</h4>
                  </div>
                  <div class="modal-body">

                    <form class="form-horizontal" action="/adddoc" id="doc_form" method="POST">
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control field" id="doc_name" name="doc_name" placeholder="Doctor Name" required autofocus>
                        </div>
                      </div>
                      <div class="form-group ">
                        <div class="col-sm-10">
                          <select id="cert" name="cert">
                            <option value="MD">MD (Medical Doctor)</option>
                            <option value="NP">NP (Nurse Practitioner)</option>
                            <option value="RN">RN (Registered Nurse)</option>
                            <option value="DDS">DDS (Dentist)</option>
                            <option value="OD">OD (Doctor of Optometry</option>
                            <option value="DC">DC (Chiropractor)</option>
                            <option value="MFT">MFT (Masters of Family Therapy)</option>
                            <option value="LCSW">LCSW (Licensed Social Worker)</option>
                            <option value="DO">DO (Doctor of Osteopathy)</option>
                            <option value="PA">PA (Physicians Assistant)</option>
                            <option value="PSYD">Psy.D (Dr. of Psychology)</option>
                            <option value="PHD">PhD (Doctor of Philosophy)</option>
                            <option value="CM">CM (Certified Midwife)</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control field" name="biz_name" id="biz_name" placeholder="Business Name" autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control field" name="address" id="address" placeholder="Address" required autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control field" name="suite_number" id="suite" placeholder="Suite (optional)" autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control field" name="phone2" id="phone2" placeholder="Phone Number" autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          Would you like your submission to be anonymous?
                          <select name="anon">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          Gender: 
                          <select name="gender">
                            <option value="F">Female</option>
                            <option value="T">Transgender</option>
                            <option value="M">Male</option>
                            <option name="O">Other Gender</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          Transgender Health Specialty?
                          <select name="trans">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          Reproductive Health Specialty?
                          <select name="repro">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-10">
                          Accepts Public Insurance?
                          <select name="pub_ins">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="submit" id="docsubmit" class="btn btn-primary" name="submit"class="btn btn-default">Add Doctor</button>
                       </div>
                     </div>
                   </form>

                 </div>
               </div>
             </div>
           </div>
           <div class="body">   
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Your Favorite Doctors</h4>
            </div>
            <div class="modal-body" id="modal2text">
              None, log in to add favorites.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiZGFyaWEzMyIsImEiOiJWbW94aHJBIn0.X1zLt9sD6VtHx5wPwjj9Xg';
        var map = L.mapbox.map('map', 'daria33.2e60eb40').setView([37.76872, -122.44929], 13);
        var coordinates = $('#data').data();


      </script>

      <script src="../static/js/map2.js"></script>

      <script>
      </script>



    </div>
  </body>
  </html>