{% extends 'base.html' %}
{% block body %}


<br>
<div class="collapse" id="collapseExample">
	<div class="well"> 
		<b>The right doctor can be hard to find. LGBT people face additional obstacles in accessing well-trained health care professionals:</b> <br><br>
		<p style=" text-indent: 2em;" class="regular"><i>33.3% of medical schools dedicate <b>zero</b> hours of their curriculum to LGBT health. On average, medical schools dedicate five hours to LGBT health education, and the quality of this education is widely variable. </i>Findings from <a href="http://www.ncbi.nlm.nih.gov/pubmed/21900137">“Lesbian, gay, bisexual, and transgender-related content in undergraduate medical education” JAMA (2011)</a></p>
	</div>
</div>

<div id="basic-info" class="alignl"></div>
<div id="provider-detail" class="alignl"></div> 
<div id="sendtext" class="alignl">    

</div>


{% endblock %}