{% extends 'base.html' %}
{% block body %}


<br>
<div class="collapse" id="collapseExample">
	<div class="well alignl"> 
		<h4><b>The right doctor can be hard to find. LGBT people face additional obstacles in accessing well-trained health care professionals:</b></h4><br>
		33.3% of medical schools dedicate <b>zero</b> hours of their curriculum to LGBT health.<br><h3><a href="http://www.ncbi.nlm.nih.gov/pubmed/21900137">“Lesbian, gay, bisexual, and transgender-related content in undergraduate medical education” JAMA (2011)</a></h3><br><br>
		The providers in LGBT MD are verified by either the <a href="http://www.glma.org">Gay and Lesbian Medical Association</a> or recommended by community members.
		</p>
	</div>
</div>

<div id="basic-info" class="alignl"></div>
<div id="provider-detail" class="alignl"></div> 
<div id="sendtext" class="alignl">    

</div>


{% endblock %}