


<div class="list-group">
  <a href="#" class="list-group-item active">
    Ratings and Reviews
  </a>
  <a href="#" class="list-group-item">Rating: {{rating}}</a>
  {%for item in review %}
  <a href="#" class="list-group-item">{{item}}</a>
{% endfor %}
</div>

{% if 'user' in session %}
	<form id="reviewform" action="/addreview">
	    <h4>Leave a review for this doctor</h4>
		    <input id="review" type="text" name="review" placeholder="leave review" required autofocus/>

		    <select name="rating">
			  <option value="5">5</option>
			  <option value="4">4</option>
			  <option value="3">3</option>
			  <option value="2">2</option>
			  <option value="1">1</option>
			</select>

			<input id="reviewsubmit" type="submit" name="reviewsubmit" value="submit" />
	</form>


<!-- 	<h5>Get this doctors information: </h5>
	<form id="textmess" >
	<input id="phone" type="text" placeholder="Your phone number" required/>
	<input id="submitphone" type="submit" name="reviewsubmit" value=" get info!" />
	</form> -->

{% endif %}




