

<p>this is the doctors rating: {{rating}} and review: {{review}}  </p>

{% if session['user'] != None %}
	<form id="reviewform" action="/addreview">
	    <h4>Leave a review for this doctor</h4>
		    <input id="review" type="text" name="review" placeholder="leave review" required autofocus/>

		    <select name="rating">
			  <option value="5">5</option>
			  <option value="4">4</option>
			  <option value="3">3</option>
			  <option value="2">2</option>
			  <option value="1">1</option>
			</select>

			<input id="reviewsubmit" type="submit" name="reviewsubmit" value="submit" />
	</form>
{% endif %}

